/* Base Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Background Image with Blur */
body {
    font-family: 'Arial', sans-serif;
    background: url('/static/images/background.jpg') no-repeat center center fixed;
    background-size: cover;
    backdrop-filter: blur(8px); /* Blur effect */
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Heading */
h1 {
    font-size: 4em;
    font-weight: bold;
    color: white;
    text-align: center;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

h1 span {
    color: #34db4a; /* Light green for part of the heading */
}

/* Container */
.container {
    position: relative; /* Position relative for pseudo-element positioning */
    background-color: rgba(29, 29, 29, 0.7); /* Dark overlay to make content readable */
    padding: 60px;
    border-radius: 12px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
    width: 400px;
    text-align: center;
    display: grid;
    gap: 20px; /* Space between items */
}

/* Inner border with blur effect */
.container::before {
    content: "";
    position: absolute;
    border-radius: 10px;
    border: 5px solid rgb(113, 247, 4);
    filter: blur(5px);
    z-index: -1;
}

/* File Input Styling */
input[type="file"] {
    padding: 10px;
    background-color: #ecf0f1;
    border: 2px solid rgb(113, 247, 4);
    border-radius: 5px;
    font-size: 1em;
    color: #34495e;
    width: 100%;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s, border 0.3s;
}

/* Button Styling */
button {
    padding: 8px 12px; /* Smaller padding for a sleeker look */
    background-color: #2dbf45; /* A bit darker green for modern feel */
    color: white;
    font-size: 0.9em; /* Reduced font size */
    font-weight: 600;
    border: 2px solid transparent; /* Adds a cleaner look with border */
    border-radius: 6px; /* Slightly less rounded for a sharper look */
    width: 80%; /* Decreased width */
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease, border 0.3s ease; /* Smooth transitions */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
    margin: 15px auto; /* Space around the button */
}

button:hover {
    background-color: #27a03b; /* Slightly darker on hover */
    transform: translateY(-2px); /* Slight lift effect */
    border: 2px solid #2dbf45; /* Adding a border effect on hover */
}

/* Mobile Responsiveness */
@media screen and (max-width: 480px) {
    .container {
        width: 90%;
        padding: 20px;
    }

    h1 {
        font-size: 1.8em;
    }

    button {
        font-size: 0.8em; /* Adjusting the button size for mobile */
    }
}
