<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PLANT DISEASE DETECTION 🌱</title>
    <link rel="icon" type="image/x-icon" href="static/images/leaf.ico">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav class="navbar">
        <div class="logo"><h1>PLANT <span>DISEASE</span> DETECTION🌱</h1></div>
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="{{ url_for('contact') }}">Contact</a></li>
        </ul>
    </nav>
    <div class="container">
        <h2>Contact Us</h2>
        <p style="text-align: center;font-weight: bold;">If you have any questions or need support</p>
        <p style="text-align: center; font-weight: bold;">Feel free to contact us:</p>
        <p style="text-align: center; color: #34db4a;">📧 saptarshi0777@gmail.com</p>
        <p style="text-align: center; color: #34db4a;">📞 6296770327</p>

        <a href="{{ url_for('index') }}" class="back-button">Back to Home</a>
    </div>
    <!-- Footer -->
    <footer class="footer">
        <p>&copy; 2024 Saptarshi Ghosh. All rights reserved.</p>
    </footer>
</body>
</html>
