<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Plant Image</title>
    <link href="/static/style.css" rel="stylesheet" />

</head>
<body>
    <h1>PLANT <span>DISEASE</span> DETECTION</h1>
    <div class="container">
        <h2>UPLOAD AN IMAGE OF A <span>PLANT</span></h2>
        <form action="{{ url_for('upload_image') }}" method="POST" enctype="multipart/form-data">
            <input type="file" name="image" accept=".jpg,.jpeg,.png" required>
            <button type="submit">Upload</button>
        </form>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flash-messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
    </div>
</body>
</html>
